[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pygame = "==2.5.2"
numpy = "==1.26.4"
numba = "==0.58.1"
matplotlib = "==3.7.3"

[dev-packages]

[requires]
python_version = "3.9"
